
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: sans-serif;
}

/*----------------Universal-------------Part----------Start-----------*/
:root{
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --box-shadow: .4rem .4rem 0  rgba(71, 200, 209, 0.47);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--green);

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #c0aeae;
}

.heading{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 4rem;
    text-shadow: var(--text-shadow);
    color: var(--black);
    font-size: 5rem;
    text-decoration: underline;
}

.heading span{
    color: var(--green);
    text-decoration: underline;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.9rem;
    font-weight: 700;
    transition: .5s;
    background: #fff;
}

.btn span{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color: #fff;
    margin-left:  .5rem;
}

.btn:hover{
   background: var(--green);
   color: #fff;
   letter-spacing: 1px;
}
.btn:hover span{
    color: var(--green);
    background:#fff;
}
/*----------------Universal-------------Part----------Start-----------*/





/*-----------Header-----------Section-----------Start-----------*/
.header{
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 .5rem 1.5rem  rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f0f0;
    box-shadow: var(--box-shadow); 
    z-index: 1000;
}

.header .logo{
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--black);
}

.header .logo i{
    color: var(--green);
    margin: 3px;
}

.header .navbar a{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius:  .5rem;
    background: #c5c2c2;
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
/*-----------Header-----------Section-----------End-----------*/




/*-----------Home-----------Section-----------Start-----------*/
.Home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}

.Home .image{
    flex: 1 1 45rem;
}

.Home .image img{
    width: 100%; 
    border-radius: 0.8rem;
}

.Home .content{
    flex: 1 1 45rem;
}

.Home .content h3{
   font-size: 4.5rem;
   font-weight: 700;
   color: #000000;
   line-height: 1.8;
   text-shadow: 0.3rem 0 .3rem var(--green);
}

.Home .content p{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--black);
    line-height: 1.8;
    padding: 1rem 0;
 }
/*-----------Home-----------Section-----------End-----------*/



/*-----------Icon-----------Section-----------Start-----------*/
.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem; 
 }

 .icons-container .icons{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.7rem;
    transition: 0.5s;
 }

 .icons-container .icons:hover{
    transform: scale(1.06);
    cursor: pointer;
 }

 .icons-container .icons i{
    font-size: 4rem;
    color: var(--green);
    padding-bottom: .7rem;
    transition: 0.5s;
 }

 .icons-container .icons:hover i{
    transform: scale(1.5);
 }
 .icons-container .icons h3{
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--black);
    padding: .5rem 0;
 }

 .icons-container .icons p{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--green);
    padding: .5rem 0;
 }
/*-----------Icon-----------Section-----------End-----------*/





/*----------About------------Section-----------Start---------*/
.About .row{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 4rem;
  }
  
  .About .row .image{
      flex: 1 1 45rem;
  }
  
  .About .row .image img{
     width: 100%;
     border-radius: 0.5rem;
  }
  
  .About .row .content{
      flex: 1 1 45rem;
  }
  
  .About .row .content h3{
    color: var(--black);
    font-size: 4rem;
    line-height: 1.8;
  }
  
  .About .row .content p{
      color: var(--black);
      padding: 1rem 0;
      font-size: 2.2rem;
      line-height: 1.6;
    }
  /*----------About------------Section-----------End---------*/





/*----------Services---------Section------------Start--------*/
.Services .box-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
 }

 .Services .box-container .box{
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
    transition: 0.5s;
    text-align: center;
 }

 .Services .box-container .box:hover{
    transform: scale(1.03);
 }
 
 .Services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
    transition: 0.5s;
 }

 .Services .box-container .box:hover i{
    transform: scale(1.5);
}

 .Services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem 0;
    font-weight: 900;
 }

 .Services .box-container .box p{
    color: var(--black);
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 700;
 }
/*----------Services---------Section------------End--------*/





/*---------Doctores----------Section-------------Start-----------*/
.Doctors .box-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.Doctors .box-container .box{
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    overflow: hidden;
    transition: 0.5s;
}

.Doctors .box-container .box:hover{
    transform: scale(1.03);
}

.Doctors .box-container .box img{
    height: 20rem;
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem; 
    transition: 0.5s;  
}

.Doctors .box-container .box:hover img{
    transform: scale(1.08);
}

.Doctors .box-container .box h3{
    color: var(--green);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.Doctors .box-container .box span{
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 700;
}

.Doctors .box-container .box .share{
    padding-top: 2rem;
}

.Doctors .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--green);
    border-radius: .5rem;
    border: var(--border);
    margin: .3rem;
    transition: 0.5s;
}

.Doctors .box-container .box .share a:hover{
    background: var(--green);
    color: var(--black);
    box-shadow: var(--box-shadow);
    transform: translateY(-10px);
}
/*---------Doctores----------Section-------------End-----------*/





/*----------Booking-----------Section-----------Start-------------*/
.Book .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.Book .row .image{
    flex: 1 1 45rem;
}

.Book .row .image img{
    width: 100%;
    border-radius: 10px;
    transition: 0.4s;
}

.Book .row form{
    flex: 1 1 45rem; 
    margin-top: 40px;
    background: #e6cccc; 
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.Book .row form h3{
    color: var(--black);
    padding-bottom: 1rem;
    font-size: 4rem;
    font-style: italic; 
}

.Book .row form .box{
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.7rem;
    color: var(--black);
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 1rem;
}

.Book .row form .btn{
    padding: 1.4rem;
}
/*----------Booking-----------Section-----------End-------------*/




/*-----------Review-----------Section-------------Start------------*/
.Review .box-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.Review .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.Review .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid #fff;
}

.Review .box-container .box h3{
    color: #ffff;
    font-size: 2.6rem;
    padding: .5rem 0;
    font-weight: 800;
    font-family: sans-serif;
}

.Review .box-container .box  .stars{
    color: #fff;
    font-size: 2.2rem;
}

.Review .box-container .box .text{
    color: var(--black);
    line-height: 2.8rem;
    font-size: 1.8rem;
    padding-top: 4rem;
    font-style: italic;
    font-weight: 900;
}

.Review .box-container .box::before{
    content: '';
    position: absolute;
    top: -4rem;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    background: var(--green);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width: 120%;
    z-index: -1;
}
/*-----------Review-----------Section-------------End------------*/




/*-------------Blog-----------Section-------------Start------------*/
.Blogs .box-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
}

.Blogs .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.Blogs .box-container .box .image{
    height: 20rem;
    overflow: hidden;
    border-radius: .5rem;
}

.Blogs .box-container .box .image img{
  height: 100%; 
  width: 100%;
  object-fit: cover; 
  transition: 0.6s;
  background: #fff;
}

.Blogs .box-container .box:hover .image img{
  transform: scale(1.2);  
}

.Blogs .box-container .box .contant{
    padding-top: 1rem;
}

.Blogs .box-container .box .contant .icon{
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Blogs .box-container .box .contant .icon a{
    font-size: 2.2rem;
    font-family: sans-serif;
    font-weight: 700;
    color: crimson;
}

.Blogs .box-container .box .contant .icon a i{
    padding-right: .5rem;
    color: var(--green);
}

.Blogs .box-container .box .contant h3{
    color: var(--black);
    font-size: 2.7rem;
    font-weight: 700;
}

.Blogs .box-container .box .contant p{
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 5px 0;
    margin-top: 8px;
}
/*-------------Blog-----------Section-------------End------------*/






/*-------Our Foooter Section Start--------*/
.Footer .box-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    background-color: #c5c2c2; 
    padding: 20px 30px;
}

.Footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--green);
    padding: 1rem 0;
    font-weight: 800;
}

.Footer .box-container .box a{
    display: block;
    font-size: 2.3rem;
    color: #000000;
    padding: 1rem 0;
    font-weight: 500;  
}

.Footer .box-container .box a:hover{
    font-style: italic;
}

.Footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--green);
    transition: 0.5s;
}

.Footer .box-container .box a:hover i{
    padding-right: 2rem; 
    font-style: italic;
}

.Footer .credit{
    font-size: 2rem;
    font-weight: 700;
    padding: 3rem 0rem;
    text-align: center;
    color: var(--green);
    border-top: .5rem solid var(--green);
}

/*-------Our Foooter Section End--------*/






/*---------------Theme-----------Toggele----------Start-----------*/
.themeToggle{
    position: fixed;
    top: 10rem;
    right: -20rem;
    background: var(--black);
    align-items: center;
    width: 20rem;
    z-index: 1000;
    transition: 0.5s;
}

.themeToggle.active{
    right: 0;
}

.themeToggle h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    font-family: sans-serif;
    text-align: center;
}

.themeToggle .buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.themeToggle .themeBtn{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    border-radius: 50%;
}

.themeToggle .ToggleBtn{
    position: absolute;
    top: 0;
    /* left: -5.9rem; */
    left: -5.2rem;
    padding: 1.3rem 1.5rem;
    background: var(--green);
    cursor: pointer;
    transition: 0.5s;
    
}

.themeToggle .ToggleBtn:hover{
    background: #ff004f;
}

.themeToggle .ToggleBtn i{
    color: #fff;
    font-size: 2rem;
    animation: spin 1.5s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(360deg);
    }
}
/*---------------Theme-----------Toggele----------End-----------*/




/*--------Media---------Queary------------section----------Start----------*/
@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}


@media (max-width: 768px){
    #menu-btn{
      display: block;
    }

   .header .navbar{
     position: absolute;
     top: 115%;
     right: 2rem;
     border-radius: .5rem;
     box-shadow: var(--box-shadow);
     width: 30rem;
     border: var(--border);
     background: #fff;
     transform: scale(0);
     opacity: 0;
     transform-origin: top right;
     transition: none;
   }


   .header .navbar.active{
    transform: scale(1);
    opacity: 1;
    transition: .8s ease-out;
   }
   
   .header .navbar a{
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
   }
}


@media (max-width: 450px){
    html{
        font-size: 50%;
    }

}
/*--------Media---------Queary------------section----------End----------*/
